---
const lista = ["Pekka", "Paavo", "Matti", "Vertti"]
const data = await fetch(https://api.met.no/weatherapi/locationforecast/2.0/compact?lat=60.19&lon=24.95)
const text = await response.text()
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Koodi 101 -projekti</title>
	</head>
	<body>
		<h1>Koodi 101 -projekti</h1>
		<code>{text}</code>
		<img src="https://media1.tenor.com/m/OWI_ai132b0AAAAC/wink-dog.gif">
		<ul>
			{lista.map(nimi => <li>{nimi}</li>)}
		</ul>
	</body>
</html>
